{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body style="padding: 20px;">
<div class="container-fluid">
<h1>Dailies</h1>
<ul>
  {% for daily in object_list %}
  <li><a href="{{ daily.get_absolute_url }}">{{ daily }}</a></li>
  {% endfor %}
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&#171 первая </a>
            <a href="?page={{ page_obj.previous_page_number }}"> &#8249 предыдущая </a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"> следующая &#8250 </a>
            <a href="?page={{ page_obj.paginator.num_pages }}"> последняя &raquo</a>
        {% endif %}
    </span>
  </div>
</ul>

</body>
</html>
