{% load static %}
{% load is_holiday %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    {% load estimate_tag %}
</head>
<body style="padding: 20px;">
<div class="container-fluid">
<div>
    <h2>{{ daily.date }} {{ daily.date|isdayoff }} </h2>
    <p>Вес: {{ daily.weight }} (Индекс массы тела:  <!--  style="padding-top: 1em" -->
        {% if daily.bmi|to_float >= 25  %}
            <span style="color: red;">{{ daily.bmi }}</span>
        {% else %}
            <span>{{ daily.bmi }}</span>
        {% endif %}
        ).</p>
    <p>Сделано: шагов - {{ daily.steps }}, отжиманий - {{ daily.push_ups }}, приседаний - {{ daily.squates }}.</p>
    <p>Продолжительность сна: всего - {{ daily.sleeptime }}, глубокий - {{ daily.deep_sleeptime }},
        доля глубокого сна -
        {% if daily.dss|to_float < 20  %}
            <span style="color: red;">{{ daily.dss }}</span>
        {% else %}
            <span>{{ daily.dss }}</span>
        {% endif %}
        .</p>
    <p>Утренняя температура: {{ daily.temperature }}.</p>
    <p>Оценка сна: {{ daily.sa }}.</p>
</div>
    <hr>
    <h3>Мысли</h3>
{#<div style="padding-left: 47px; text-indent: -47px;">#}
<div style="padding-left: 3em; text-indent: -3em;">
    {% for thought in daily.thoughts.all %}
        <p><i>{{ thought.timestamp_brief }}:</i> {{ thought.record }}  {# |linebreaks #}
        <br><i><span style="font-size: x-small; line-height: 0.3em; color: #808080">
            {% for tag in thought.tags.all %}
                {{ tag.tag }},
            {% endfor %}
            </span></i>
        </p>
    {% empty %}
        Мысли в этот день не отмечались
    {% endfor %}
</div>
<p><a class="btn btn-primary" href="{% url 'desc:daily_list' %}">К списку дней</a></p>
</div>
</body>
</html>
